# Build and Release Folders
bin/
bin-debug/
bin-release/
bin-release-temp/

# Other files and folders
.settings/
.metadata/

~*
*~
*.p12
*.mobileprovision

# lib project
feathers1.2.0/


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
